<div class="docs-nav-group">
  <div class="docs-nav-group-label">Getting Started</div>
  <a href="{{ '/docs/' | relative_url }}" class="docs-nav-link">Overview</a>
</div>
<div class="docs-nav-group">
  <div class="docs-nav-group-label">Design</div>
  <a href="{{ '/docs/design-system.html' | relative_url }}" class="docs-nav-link">Design System</a>
  <a href="{{ '/docs/sections-components.html' | relative_url }}" class="docs-nav-link">Sections &amp; Components</a>
</div>
<div class="docs-nav-group">
  <div class="docs-nav-group-label">Behavior</div>
  <a href="{{ '/docs/javascript.html' | relative_url }}" class="docs-nav-link">JavaScript</a>
</div>
<div class="docs-nav-group">
  <div class="docs-nav-group-label">Content</div>
  <a href="{{ '/docs/cms-guide.html' | relative_url }}" class="docs-nav-link">CMS Guide</a>
</div>
<div class="docs-nav-group">
  <div class="docs-nav-group-label">Reference</div>
  <a href="{{ '/docs/reference.html' | relative_url }}" class="docs-nav-link">File Reference</a>
</div>
