<!-- NAV -->
<nav id="siteNav" class="site-nav">
  <div class="container d-flex align-items-center justify-content-between nav-inner">
    <a href="{{ page.base }}Home.html" class="fs-19 fw-semibold ls-02 nav-logo">N.&nbsp;E.&nbsp;Karantanis, PhD</a>
    <button class="navbar-toggler d-lg-none nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="nav-toggler-bar"></span>
      <span class="nav-toggler-bar"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex flex-grow-0" id="navMenu">
      <div class="d-flex flex-lg-row flex-column gap-lg-4 gap-3 align-items-lg-center fs-15 fw-medium nav-links-row">
        <a href="{{ page.base }}Home.html" class="nav-link">Home</a>
        <a href="{{ page.base }}About.html" class="nav-link">About &amp; CV</a>
        <a href="{{ page.base }}Blog.html" class="nav-link">Blog</a>
        <a href="https://www.linkedin.com/in/nekarantanis/" class="btn-nk btn-nk--nav btn-nk-solid-c1">Connect on LinkedIn</a>
      </div>
    </div>
  </div>
</nav>